* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: grid;
  grid-template-areas: 
   "header header header"
   "nav content sidebar"
   "nav footer footer"
  ;
  grid-template-columns: 1fr 7fr 3fr;
  grid-template-rows: 1fr 7fr 1fr;
}

header,
footer,
main,
aside,
nav {
  background-color: steelblue;
  color: #fff;
  padding: 20px;
  border: 1px skyblue solid;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

@media(max-width: 500px) {
  body {
    grid-template-areas: 
   "header header header"
   "content content sidebar"
   "footer footer footer"
    ;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
  }

  nav {
    display: none;
  }
}